<input type="text" [(ngModel)]="filtertext">
<table>
    <tr>
    <th>NAME</th>
    <th>COURSE</th>
    <th>MARKS</th>
    <th>DOB</th>
    <th>GENDER</th>
    </tr>
    <tr *ngFor = "let s of students | filter:filtertext">
    <th>{{s.name}}</th>
    <th>{{s.course}}</th>
    <th>{{s.marks}}</th>
    <th>{{s.dob | date:'fullDate'}}</th>
    <th>{{s.gender | lowercase}}</th>
    </tr>
</table>
<button (click)="adduser()">Add Students</button>
<h1>Total Students{{total | async}}</h1>
<h1>{{sampleData | json}}</h1>
<app-c1></app-c1>
<app-c2></app-c2>
<button (click)="startCounter()">Start</button>
<button (click)="stopCounter()">Stop</button>
<app-add-user></app-add-user>
<button (click)="delete()">Delete User 5</button>
<div *ngFor="let u of appusers">
    <div>{{u.name}}</div>
    <div>{{u.status}}</div>

</div>
<app-jscourse></app-jscourse>
<app-angcourse></app-angcourse>

<router-outlet></router-outlet>
<nav>
    <ul id="sidemenu">
        <li><a [routerLink]="['/Home']">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/product']">Product</a></li>
        <li><a [routerLink]="['/gallary']">Gallary</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>

    </ul>
</nav>
<a [routerLink]="['/Loan_app']">press_1</a>
<a [routerLink]="'/payments/BuyNow'">buynow</a>
<table>
    <thead>
        <td>
            Milk
        </td>

        <td>
            Maggi
        </td>
    </thead>
    <tbody>
        <tr>
            <td>
                <a [routerLink]="['/product_terms/101/Aavin']">click Here</a>
            </td>

            <td>
                <a [routerLink]="['/product_terms/102/maggi']">Click Here</a>
            </td>
        </tr>
    </tbody>
</table>

<table>
    <tr><td>NAME</td><td>CITY</td></tr> 
    <tr *ngFor = "let u of user">
        <td>{{u.name}}</td><td>{{u.city | citycode:'invalid city'}}</td>
    </tr>
</table>

        <input type="number" [(ngModel)]="num">
        <h1>{{num|square}}</h1>
        <h2>{{num|square:4}}</h2>


<h1 class="bg-primary">Welcome</h1>
<button mat-raised-button color="accent">Accent</button>
<div *ngIf="flag;else abcdef">Hai user</div>
<ng-template #abcdef>Welcome</ng-template> <br>
<br>

<h1 *ngIf= "findgreater(); else bgreat">{{a}} value is greater</h1>
<ng-template #bgreat> {{b}} is greater</ng-template>
<br> <br>

<div *ngIf="flag && xyz;else hello">And operator works</div>
<ng-template #hello>And Not working</ng-template>

<div *ngIf="flag || xyz;else how">or operator works</div>
<ng-template #how>Or Not working</ng-template>

<div *ngFor="let x of y">{{x}}</div>
<ul>
    <li *ngFor= "let c of contacts;index as i;first as f;">
        <div *ngIf="f";else notf style="text-transform:uppercase;"> {{c.lastName}}  {{c.id}}</div>
    <ng-template #notF>{{i}} {{c.firstName}} {{c.lastName}}  {{c.id}} </ng-template>
    </li>
</ul>
<ul>
    <li *ngFor="let c of contacts;index as i;first as f;last as l">
        <div *ngIf="f;else notf" style="text-transform: uppercase;"> {{c.firstName}} {{c.lastName}} {{c.id}}</div>
    <ng-template #notf><div *ngIf="l;else notl"style="font-size:40px;"> {{c.firstName}} {{c.lastName}} {{c.id}}</div>
    <ng-template #notl>{{c.firstName}} {{c.lastName}} {{c.id}}</ng-template>
    </ng-template>
    </li>
</ul>
<ul>
    <li *ngFor = "let c of contacts; even as e; odd as o; index as i">
        <div *ngIf="e" style="background-color:green">{{i}}{{c.firstName}} {{c.lastName}} {{c.id}}</div>
        <div *ngIf="o" style="background-color:yellow">{{i}}{{c.firstName}} {{c.lastName}} {{c.id}}</div>
    </li>
</ul>

<app-local></app-local>
<app-add-contact></app-add-contact>
<div [ngClass]="'c1'">Today class is angular</div>
<div [ngClass]="'c1 c2'">Today class is angular</div>
<div [ngClass]="style">Hello world</div>
<div [ngClass]="role=='admin'?'c1 c2 c3':'c2 c3'">Welcome</div>
<div [ngClass]="styleproperty()?'c1 c2 c3':'c2 c3'">This is angular class-1</div>
<h1>{{a/b}}</h1>
<h3>{{role}}</h3>
<h3>{{styleproperty()}}</h3>
<h3>{{role=='student'}}</h3>
<h3>{{student}}</h3>
<h3>{{student.sid}}</h3>
<h3>{{contacts[0].firstName}}</h3>
<img [src] = "imgUrl" [alt]="imgAlt">
<p [style.color] = "txtColor" [style.backgroundColor]="'red'"> Hello</p>
<button (mouseover)="display()"> Click Me</button>
<input type="text" [(ngModel)]="username">
<h1>{{username}}</h1>

<!--<input type="text" [(ngModel)]="num1">
<h1 *ngIf="check() && validate() else abcd">The number is positive</h1>
<ng-template #abcd>

<h3 *ngIf="num1==0 else def">the number is zero</h3>
<ng-template #def>the number is negative</ng-template>
</ng-template>-->
<input type="number" [(ngModel)] = "num1" pattern="[0-9]*">

<p *ngIf="num1== 0 else pos">The number is neutral</p>
<ng-template #pos>
	<p *ngIf="num1>0">The number is Positive</p>
	<p *ngIf="num1<0">The number is negative</p>
	<p *ngIf="num1==0 else blank">Enter a number</p>
    <ng-template #blank>Enter a number</ng-template>
</ng-template>
<h1>{{curr}}</h1>
<h1>{{per}}</h1>
<h1>{{today}}</h1>
<h1>{{obj}}</h1>
<h1>{{word1}}</h1>
<h1>{{word2}}</h1>

<h1>{{curr | currency}}</h1>
<h1>{{per | percent}}</h1>
<h1>{{today | date}}</h1>
<h1>{{obj | json}}</h1>
<h1>{{word1 | lowercase}}</h1>
<h1>{{word2 | uppercase}}</h1>

<h1>{{today | date}}</h1> //mm dd, yyyy
<h1>{{today | date:'short'}}</h1>
<h1>{{today | date:'medium'}}</h1>
<h1>{{today | date:'long'}}</h1>
<h1>{{today | date:'full'}}</h1>
<h1>{{today | date:'shortDate'}}</h1>
<h1>{{today | date:'mediumDate'}}</h1>
<h1>{{today | date:'longDate'}}</h1>
<h1>{{today | date:'fullDate'}}</h1>
<h1>{{today | date:'shortTime'}}</h1>
<h1>{{today | date:'mediumTime'}}</h1>
<h1>{{today | date:'longTime'}}</h1>
<h1>{{today | date:'fullTime'}}</h1>

<h1>{{curr | currency:'INR'}}</h1>
<h1>{{curr | currency:'inr'}}</h1>
<h1>{{curr | currency:'USD'}}</h1>
<h1>{{curr | currency:'usd'}}</h1>
<h1>{{curr | currency:'CAD'}}</h1>
<h1>{{curr | currency:'cad'}}</h1>

<h1>{{per_0 | percent: '5.0-0'}}</h1>



<table class="table table-bordered">
    <tr>
        <th [attr.colspan]=3>student details</th>
    </tr>
    <tr>
        <td>1</td>
        <td>A</td>
        <td>A1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>B</td>
        <td>B1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>B</td>
        <td>B1</td>
    </tr>


<div [ngSwitch]="category">

    <p *ngSwitchCase="'clothing'">Welcome to clothing session</p>
    <p *ngSwitchCase="'Electronics'">Welcome to electronics session</p>
    <p *ngSwitchCase="'grocery'">Welcome to grocery session</p>
    <p *ngSwitchDefault>No Session Available</p>
</div>
<div [ngSwitch]="couponcode">

    <p *ngSwitchCase="101">10% discount</p>
    <p *ngSwitchCase="102">12% discount</p>
    <p *ngSwitchCase="103">15% discount</p>
    <p *ngSwitchDefault>No Discount Available</p>
</div>
<a href="/Loan_app" target="_blank">Link to display</a> <br>
<a href="/loantype" target="_blank">Link to display</a> <br>


<a [routerLink]="['/Loan_app']">press</a> <br>
<a [routerLink]="['/loantype']">press_1</a>



<table class="table table-primary">
    <thead>
        <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of contacts">
            <td [title] = "name" >{{c.firstName}}</td>
            <td [title] = "c.lastName" >{{c.lastName}}</td>
            <td [title] = "c.id" >{{c.id}}</td>
        </tr>
    </tbody>
</table>
<app-list-users></app-list-users>
<!--<form method="get" action="/search">
    <label for="id">
        <input type="text" name="id" placeholder="id" #id>
    </label>

    <label for="name">
        <input type="text" name="name" placeholder="name" #name>
    </label>

    <label for="age">
        <input type="text" name="age" placeholder="age" #age>
    </label>
    <input type="submit">
</form>-->
<h3 [ngStyle]="{'background-color':'yellow'}">Hello World</h3>
<h3 [ngStyle]="{'background-color':roll=='admin'?'yellow':'blue'}">Hello World</h3>
<h3 [ngStyle]="{'background-color':tscolor}">Hello World</h3>
<h3 [ngStyle]="{'background-color':roll=='admin'?'yellow':'blue'}">Hello World</h3>
<h3 [ngStyle]="{'background-color':roll=='admin'?'yellow':'red'}">Hello World!</h3>
<app-edit-contact></app-edit-contact>
<app-list-contact></app-list-contact>
<app-delete-contact></app-delete-contact>
